.box{
    margin-bottom: var(--gap);
    break-inside: avoid;
    border-radius: var(--b-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 1px 3px 10px 3px var(--c-default-smoke);
}
.photo{
    max-height: 550px;
}
.figcaption{
    font-weight: bold;
    padding:var(--gap);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.title{
    font-size:var(--fs-body);
    color:#fff;
}
.date{
    font-size:var(--fs-small);
    color:var(--c-gray-3);
}