:root {
  --c-theme: rgb(181 208 244);
  --c-theme-light: rgb(146 174 212);
  --c-highlight: rgb(21 89 216);
  --c-default: rgb(40 55 74);
  --c-default-light: rgb(40 55 74 / 50%);
  --c-default-hide: rgb(40 55 74 / 12%);
  --c-default-smoke: rgb(40 55 74 / 6%);

  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Tiempos', serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-meduim: 500;
  --fw-bold: 600;

  --fs-base: 16px;
  --fs-small: 0.72rem;
  --fs-body: 0.9rem;
  --fs-title: 2rem;

  --lh-body: 1.46;

  --gap: 24px;
  --finger: 46px;

  --l-hdr-height: 75px;

  --b-radius: 7px;
}

@media (--t) {
  :root {
    --fs-base: 18px;
    --gap: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-theme: rgb(23 27 35);
    --c-theme-light: rgb(31 37 47);
    --c-highlight: rgb(66 255 204);
    --c-default: rgb(201 222 255);
    --c-default-light: rgb(201 222 255 / 65%);
    --c-default-hide: rgb(201 222 255 / 12%);
    --c-default-smoke: rgb(201 222 255 / 1%);
  }
}