.wrapper{
    height:var(--l-header-height);    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    float:left;
    position:relative;
}
.logo img{   
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.nav{
    float:right;
}
.link{
    padding-right:var(--gap);
    font-weight:var(--fw-regular);
    &:last-child{
        padding-right:0px
    }
}
