.wrapper {
	min-height: calc(100vh - (var(--l-header-height) + var(--l-footer-height)));
	display: flex;
	align-items: center;
}
.title {
	font-weight: var(--fw-light);
	font-size: var(--fs-title);
	padding-bottom: var(--l-header-height);
}
.highlight {
	cursor: pointer;
	position: relative;
}